/* UTILITIES */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

  body {
   font-family: 'Open Sans', sans-serif;
   min-height: 100vh;
   min-width: 100vw;
   /* background-color: #000; */
   overflow-x: hidden;
}
  

   h1, h2, h3, h4, h5, h6 {
      font-family: "Nunito", sans-serif;
  }

   a {
    text-decoration: none;
   }

   li {
    list-style: none;
   }

   button {
      cursor: pointer;
   }




  /* NAVBAR STYLING STARTS */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px;
    color: #4154F1;
}
	.nav-links a {
		color: #4154F1;
		font-size: 17px;
	}

   /* LOGO */
   .logo img{
    width: 50px;
   }

   .logo span{
	font-size: 30px;
	color: #132970;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }

   .menu li {
    padding: 5px 14px;
   }

   #fixed-top {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
      /* background-color: #fff; */
  }

  .scroll {
     background-color: #fff;
     transition: 0.1s;
  }

  .nav-links .btn-navlink {
	background-color: #4154F1;
	color: #fff;
	padding: 10px 30px;
	border: 0px;
	margin-top: -5px;
	font-size: 15px;
   border-radius: 5px;
}

  
  
  /* HERO SECTION */
  #hero {
      width: 100%;
      height: 100vh;
      background: url(../images/hero-bg.png) top center no-repeat;
      background-size: cover;
  }

  
#hero .btn-hero {
	background-color: #4154F1;
	color: #fff;
	padding: 15px 40px;
	border: 0px;
	margin-top: 20px;
	font-size: 20px;
   border-radius: 5px;
   box-shadow: 0px 5px 30px rgb(65 84 241 / 40%);
}

.hero-container {
   padding: 200px 150px 20px 150px;
   max-width: 1555px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.hero-text {
  margin-top: 100px;
}

.hero-container h1 {
font-size: 45px;
margin-bottom: 20px;
color: #132970;
}

.hero-container h2 {
   font-size: 25px;
   font-weight: 100;
   color: rgb(95, 92, 92);
}

.hero-img {
   margin-left: 100px;
}


/* VALUE SECTION  */
.value-container {
   padding: 40px 150px 100px 150px;
   max-width: 1555px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.value-header {
   text-align: center;
   padding-top: 80px;
}

.value-header p {
   color: #4154F1;
}

.value-header h3 {
   color: #132970;
   font-size: 35px;
   font-weight: 700;
}

.value-box {
   padding: 30px;
   box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
   text-align: center;
   transition: 0.3s;
   height: 100%;
   width: 400px;
}

.value-box h3{
   color: #132970;
   font-size: 22px;
}

.value-box p{
   color: rgb(95, 92, 92);
   font-size: 15px;
}

.value-box img:hover {
   -webkit-transform: scale(0.5);
   transform: scale(0.9);
   -webkit-transform: .3s ease-in-out;
   transition: .3s ease-in-out;
}


/* DATA PRICING  */
#data-pricing {
   padding: 40px 150px 100px 150px;
   max-width: 1555px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.pricing-header {
   text-align: center;
   padding-top: 80px;
}

.pricing-header p {
   color: #4154F1;
}

.pricing-header h3 {
   color: #132970;
   font-size: 35px;
   font-weight: 700;
}

.pricing-table {
   text-align: center;
   background: #fff;
   margin: 0 -15px;
   box-shadow: 0 0 10px #ababab;
   padding-bottom: 50px;
   border-radius: 10px;
   color: #cad0de;
   transform: scale(1);
   transition: all .5s ease 0s;
}

.pricing-table .pricing-table-head {
   padding: 40px 0;
    background: #f5f6f9;
    border-radius: 10px 10px 50% 50%;
    transition: all .5s ease 0s;
}

.pricing-table .pricing-table-head {
   padding: 45px 0;
    background: #f5f6f9;
    border-radius: 10px 10px 50% 50%;
    transition: all .5s ease 0s;
}

.pricing-table .pricing-table-content ul {
   padding: 0;
   margin-bottom: 30px;
}

.pricing-table .pricing-table-content ul li {
   line-height: 30px;
   color: #a7a8aa;
}

.pricing:hover .mtn  {
   background-color: #F5CE20;
}

.pricing:hover .mobile {
   background-color: #343132;
}

.pricing:hover .glo {
   background-color: #51AB5B;
}

.pricing:hover .airtel {
   background-color: #E62E32;
}

.pricing:hover  {
   transform: scale(1.05);
   z-index: 1;
   transition: all .5s ease 0s;
}


.mtn-signup a {
   background-color: #F5CE20;
   color: #fff;
   padding: 10px 30px;
   border-radius: 30px;
}

.mobile-signup a {
   background-color: #343132;
   color: #fff;
   padding: 10px 30px;
   border-radius: 30px;
}

.glo-signup a {
   background-color: #51AB5B;
   color: #fff;
   padding: 10px 30px;
   border-radius: 30px;
}

.airtel-signup a {
   background-color: #E62E32;
   color: #fff;
   padding: 10px 30px;
   border-radius: 30px;
}

/* FEATURES  */
.features {
   padding: 40px 150px 100px 150px;
   max-width: 1555px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.features-header {
   text-align: center;
   padding-top: 80px;
}

.features-header p {
   color: #4154F1;
}

.features-header h3 {
   color: #132970;
   font-size: 35px;
   font-weight: 700;
}

.feature-mark {
   display: flex;
   margin: 10px 0;
   color: #132970;
   font-size: 20px;
}

.feature-mark .fa {
   color: #4154F1;
   font-size: 20px;
   font-weight: 100;
   margin-right: 10px;
}

.text-pan p{
   font-weight: 100;
   font-size: 16px;
   line-height: 24px;
   color: #606161;
}

.features-content h3 {
   color: #012970;
   font-weight: 500;
   font-size: 32px;
   margin-bottom: 10px;
}

#features .btn-feature {
	background-color: #4154F1;
	color: #fff;
	padding: 15px 40px;
	border: 0px;
	margin-top: 20px;
	font-size: 20px;
   border-radius: 5px;
   box-shadow: 0px 5px 30px rgb(65 84 241 / 40%);
}


/* FOOTER  */

.footer-top {
   padding: 50px 150px 100px 150px;
   max-width: 1582px;
   margin: 0 auto;
   text-align: center;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   background-color: #F6F9FF;
   border-top: 1px solid #e1ecff;
}

.footer-top h4 {
   color: #012970;
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 10px;
}

#footer .btn-footer {
	background-color: #4154F1;
	color: #fff;
	padding: 15px 40px;
	border: 0px;
	margin-top: 20px;
	font-size: 20px;
   border-radius: 5px;
   box-shadow: 0px 5px 30px rgb(65 84 241 / 40%);
}

.footer-bottom {
   padding: 50px 150px 100px 150px;
   max-width: 1582px;
   margin: 0 auto;
   justify-content: center;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   background-color: #233653;
}

.footer-logo {
   text-align: left;
}

.footer-logo img{
   width: 50px;
}

.footer-logo span {
   color: #fff;
   font-size: 30px;
   font-weight: 700;
   margin-left: 6px;
   /* margin-top: 20px; */
   letter-spacing: 1px;
   position: absolute;
}

.social  {
   margin-top: 45px;
   color: #fff;
   position: absolute;
   margin-left:  -50px !important;
   
}

.social a .fa{
   color: #fff;
   
}

.footer-top.footer-social .fa {
   color: #fff !important;
}


.useful-link  {
   color: #fff;
   text-align: left;
   line-height: 2;
   margin-left: 55px;
}

.useful-link h4, .footer-contact h4  {
   color: #fff;
  font-size: 20px;
}

.useful-link  li a, .footer-contact a {
   color: #fff;
   font-size: 15px;
}

.footer-contact {
   margin-left: 50px;
}


.footer-copyright {
   text-align: center;
   color: #012970;
   font-size: 15px;
   padding: 30px 5px;
}

   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   }